:root {
    font-size: 18px;
}

.text_darkgreen {
    color: #596A40;
}

.bg_lightgreen {
    background-color: #93A25A;
}

.bg_orange {
    background-color: #D4863C;
}

.bg_dark .navbar-nav .nav-item .nav-link {
    color: #596A40;
}


.navbar-nav .nav-item .nav-link:hover {
    color: #D4863C;
}

.form-control {
    border-radius: 24px;
}

.form-control:hover {
    box-shadow: 0px 0px 10px -2px;
}

/* -------------------- content-------------------- */

.container h2 {
    margin-top: 5%;
    color: #596A40;
}

.container h5,
.container p {
    color: #596A40;
    font-size: 1em;
}

.questions_box {
    padding: 10%;
}

.contact_form {
    border-radius: 0px 0px 30px 0px;
}

.no-hover .form-control:hover {
    box-shadow: none;
}

.rounded-24 {
    border-radius: 24px;
}