.bg-orange {
    background-color: #D4863C;
}

.logo {
    width: 105px;
    height: 102px;
    display: flex;
}

.carotte {
    width: 512px;
    height: 380px;
}

.category-bg {
    background-color: #93A25A;
}