@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
// COLORS 

$primary-color : #9fb33f;
$secondary-color : #d4863c;
$third-color: #596A40;
$fourth-color: #93a25a;

.fc-third {
    color: $third-color;
}
.fc-primary {
    color: $primary-color;
}
.fc-secondary {
    color: $secondary-color;
}
.fc-fourth {
    color: $fourth-color;
}
.bg-primary {
    background-color: $primary-color !important;
}
.bg-secondary {
    background-color: $secondary-color !important;
}
.bg-third {
    background-color: $third-color !important;
}
.bg-fourth {
    background-color: $fourth-color;
}
.bg-silver {
    background-color: rgb(225, 224, 222);
}

.btn-third {
    font-size: large;
    background-color: $third-color;
    color: white;
    min-width: 100px;
    width: 300px;
    &:hover {
        border: 2px solid $third-color;
        color: $third-color;
    }
}

//FONTS-FAMILIES

$font-primary : "Montserrat";

.ff-primary {
    font-family: $font-primary;
}

h2 {
    margin: 1em 0 3.5em 0 !important;
}

.border-rounded {
    border-radius: 50%;
}

.outer-circle {
    border-radius: 100%;
}

.text-around-image {
    border-radius: 100%;
}

nav {
    img {
        width: 120px !important;
        height: 120px !important;
    }
    ul {
        animation: bubbleEffectOnBurgerClick 2s forwards;
        border-radius: 50%;
        text-align: center;
        width: 65%;
        li {
            list-style: none;
            margin-top: 1.2em;
            a {
                color: white;
                text-decoration: none;
            }
        }
    }
}



.show {
    display: block;
}

.hide {
    display: none;
}

.hide-menu {
    display: none;
}

.show-menu {
    display: block;
}

@keyframes bubbleEffectOnBurgerClick {
    from {
        padding: 0;
        width: 60%;
        background-color: white;
        top: -12%;
        left: -40%;
    }
    to {
        padding: 9em 5em 5em 7em;
        top: -9%;
        left: -22%;
        width: 130%;
        background-color: $secondary-color;
    }
}

.fa-xmark {
    color: white;
    font-size: xx-large;
    z-index: 9999;
    overflow: hidden;
}

@keyframes animeTemoignageTitle {
    0%{
        transform:scale(0) rotate(0deg);
    
    }
    100%{
        transform: scale(1) rotate(360deg);
    }
}

.container-temoignage {
    h2 {
        animation: animeTemoignageTitle linear;
        animation-timeline: view();
        animation-range-start: cover 0%;
        animation-range-end: cover 60%;
    }
}

@keyframes animeEventsTitle {
    0%{
        transform: translateY(-20em);
        opacity: 0;
    }
    90%{
        opacity: 0;
    }
    95%{
        opacity: 1;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

.container-events {
    h2 {
        animation: animeEventsTitle linear;
        animation-timeline: view();
        animation-range-start: cover 0%;
        animation-range-end: cover 50%;
    }
}

.temoignage-card {
    min-width: 250px;
    p {
        width: 60%;
    }
    img {
        border-radius: 50%;
        max-width: 200px;
    }
}

i {
    cursor: pointer;
    overflow: hidden;
    padding: .5em;
}

.img-profil {
    max-width: 220px;
    z-index: -6;
}

.banner-profil {
    z-index: -6666;
    top: 10%;
}

@media (width > 768px) {

    //UP TO TABLET

    nav ul {
        animation: none;
    }

    a {
        text-decoration: none;
    }
    
    header {
        margin: 1em 1em 5em 1em;
        nav {
            img {
                width: 140px;
                height: 140px;
            }
            div {
                div {
                    position: relative;
                    display: flex;
                    align-items: center;
                    max-width: 600px;
                    input {
                        padding-left: 2em;
                    }
                    i {
                        position: absolute;
                        font-size: large;
                        color: $third-color;
                        border-radius: 5px;
                        padding-left: .5em;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    
    .hero-container {
        img {
            min-width: 60%;
        }
        p {
            margin-left: 1.75em;
        }
    }

    .img-profil {
        max-width: 400px;
        min-width: 200px;
    }


    .container-profil {
    
        .fa-star {
            color: #d4863c;
        }
    }
    
}

